# 2 - Data Cleaning

In [1]:
import pandas as pd
train_df = pd.read_csv('../data/housing_train.csv')
test_df = pd.read_csv('../data/housing_test.csv')

There is an apparent relation between `MSSubClass` and `HouseStyle`. This is how they should match up:

1Story	One story
- 20	1-STORY 1946 & NEWER ALL STYLES
- 30	1-STORY 1945 & OLDER
- 40	1-STORY W/FINISHED ATTIC ALL AGES
- 120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER

1.5Fin	One and one-half story: 2nd level finished
- 50	1-1/2 STORY FINISHED ALL AGES
- 150	1-1/2 STORY PUD - ALL AGES

1.5Unf	One and one-half story: 2nd level unfinished
- 45	1-1/2 STORY - UNFINISHED ALL AGES

2Story	Two story
- 60	2-STORY 1946 & NEWER
- 70	2-STORY 1945 & OLDER
- 160	2-STORY PUD - 1946 & NEWER


2.5Fin	Two and one-half story: 2nd level finished<br>
2.5Unf	Two and one-half story: 2nd level unfinished
- 75	2-1/2 STORY ALL AGES

SFoyer	Split Foyer
- 85	SPLIT FOYER

SLvl	Split Level
- 80	SPLIT OR MULTI-LEVEL

Misc (No obvious floor number)
- 90	DUPLEX - ALL STYLES AND AGES
- 180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
- 190	2 FAMILY CONVERSION - ALL STYLES AND AGES

### Check for mismatches:<p>
Should be one story:

In [2]:
print('Train: \nCode 20\n',train_df[train_df['MSSubClass']==20]['HouseStyle'].value_counts(),'\n')
print('Code 30\n',train_df[train_df['MSSubClass']==30]['HouseStyle'].value_counts(),'\n')
print('Code 40\n',train_df[train_df['MSSubClass']==40]['HouseStyle'].value_counts(),'\n')
print('Code 120\n',train_df[train_df['MSSubClass']==120]['HouseStyle'].value_counts())

Train:
Code 20
 HouseStyle
1Story    534
2Story      1
SLvl        1
Name: count, dtype: int64

Code 30
 HouseStyle
1Story    67
1.5Fin     1
1.5Unf     1
Name: count, dtype: int64

Code 40
 HouseStyle
1Story    4
Name: count, dtype: int64

Code 120
 HouseStyle
1Story    86
SFoyer     1
Name: count, dtype: int64

Codes 20, 30, 120 have mismatches.

In [3]:
print('Test: \nCode 20\n',test_df[test_df['MSSubClass']==20]['HouseStyle'].value_counts(),'\n')
print('Code 30\n',test_df[test_df['MSSubClass']==30]['HouseStyle'].value_counts(),'\n')
print('Code 40\n',test_df[test_df['MSSubClass']==40]['HouseStyle'].value_counts(),'\n')
print('Code 120\n',test_df[test_df['MSSubClass']==120]['HouseStyle'].value_counts())

Test:
Code 20
 HouseStyle
1Story    543
Name: count, dtype: int64

Code 30
 HouseStyle
1Story    69
1.5Fin     1
Name: count, dtype: int64

Code 40
 HouseStyle
1Story    1
1.5Fin    1
Name: count, dtype: int64

Code 120
 HouseStyle
1Story    94
SFoyer     1
Name: count, dtype: int64

Codes 30, 40, 120 have mismatches.

Should be 1.5 stories:

In [4]:
print('Train: \nCode 45\n',train_df[train_df['MSSubClass']==45]['HouseStyle'].value_counts(),'\n')
print('Code 50\n',train_df[train_df['MSSubClass']==50]['HouseStyle'].value_counts(),'\n')
print('Code 150\n',train_df[train_df['MSSubClass']==150]['HouseStyle'].value_counts())

Train:
Code 45
 HouseStyle
1.5Unf    12
Name: count, dtype: int64

Code 50
 HouseStyle
1.5Fin    141
2Story      3
Name: count, dtype: int64

Code 150
 Series([], Name: count, dtype: int64)

Code 50 has mismatches, and code 150 is never used.

In [5]:
print('Test: \nCode 45\n',test_df[test_df['MSSubClass']==45]['HouseStyle'].value_counts(),'\n')
print('Code 50\n',test_df[test_df['MSSubClass']==50]['HouseStyle'].value_counts(),'\n')
print('Code 150\n',test_df[test_df['MSSubClass']==150]['HouseStyle'].value_counts())

Test:
Code 45
 HouseStyle
1.5Unf    4
1.5Fin    2
Name: count, dtype: int64

Code 50
 HouseStyle
1.5Fin    141
1.5Unf      1
2Story      1
Name: count, dtype: int64

Code 150
 HouseStyle
1.5Fin    1
Name: count, dtype: int64

Code 50 has a mismatch again, as does 45.

Should be 2 stories:

In [6]:
print('Train: \nCode 60\n',train_df[train_df['MSSubClass']==60]['HouseStyle'].value_counts(),'\n')
print('Code 70\n',train_df[train_df['MSSubClass']==70]['HouseStyle'].value_counts(),'\n')
print('Code 160\n',train_df[train_df['MSSubClass']==160]['HouseStyle'].value_counts())

Train:
Code 60
 HouseStyle
2Story    298
SLvl        1
Name: count, dtype: int64

Code 70
 HouseStyle
2Story    59
2.5Fin     1
Name: count, dtype: int64

Code 160
 HouseStyle
2Story    63
Name: count, dtype: int64

Code 70 has a mismatch. Code 60 could, but as a split level is just a special style of multistory house, I'm going to leave it. There's no way to know if it's a two level split or more.

In [7]:
print('Test: \nCode 60\n',test_df[test_df['MSSubClass']==60]['HouseStyle'].value_counts(),'\n')
print('Code 70\n',test_df[test_df['MSSubClass']==70]['HouseStyle'].value_counts(),'\n')
print('Code 160\n',test_df[test_df['MSSubClass']==160]['HouseStyle'].value_counts())

Test:
Code 60
 HouseStyle
2Story    274
1.5Fin      1
2.5Unf      1
Name: count, dtype: int64

Code 70
 HouseStyle
2Story    64
2.5Unf     3
1.5Fin     1
Name: count, dtype: int64

Code 160
 HouseStyle
2Story    64
SLvl       1
Name: count, dtype: int64

Codes 60 and 70 have mismatches, and the split level on 160 I am going to leave.

Should be 2.5 stories:

In [8]:
print('Train: \nCode 75\n',train_df[train_df['MSSubClass']==75]['HouseStyle'].value_counts(),'\n')
print('Test: \nCode 75\n',test_df[test_df['MSSubClass']==75]['HouseStyle'].value_counts())

Train:
Code 75
 HouseStyle
2.5Unf    9
2.5Fin    6
2Story    1
Name: count, dtype: int64

Test:
Code 75
 HouseStyle
2.5Unf    6
2Story    1
Name: count, dtype: int64

Both train and test have mismatches on code 75.

Should be split foyer:

In [9]:
print('Code 85\n',train_df[train_df['MSSubClass']==85]['HouseStyle'].value_counts(),'\n')
print('Code 85\n',test_df[test_df['MSSubClass']==85]['HouseStyle'].value_counts())

Code 85
 HouseStyle
SFoyer    20
Name: count, dtype: int64

Code 85
 HouseStyle
SFoyer    28
Name: count, dtype: int64

No mismatches.

Should be split level:

In [10]:
print('Code 80\n',train_df[train_df['MSSubClass']==80]['HouseStyle'].value_counts(),'\n')
print('Code 80\n',test_df[test_df['MSSubClass']==80]['HouseStyle'].value_counts())

Code 80
 HouseStyle
SLvl    58
Name: count, dtype: int64

Code 80
 HouseStyle
SLvl    60
Name: count, dtype: int64

No mismatches.

### Fixing mismatches <p>
In the train set

In [11]:
# setting 1 story
# Code 20
train_df.loc[((train_df[ # select
    (train_df['MSSubClass']==20)& # code 20 AND either
    ((train_df['HouseStyle']=='2Story')| # 2 Story OR
     (train_df['HouseStyle']=='SLvl'))   # Split Level
    ].index).tolist()), 'HouseStyle'] = '1Story'

# Code 30
train_df.loc[((train_df[ # select
    (train_df['MSSubClass']==30)& # code 30 AND either
    ((train_df['HouseStyle']=='1.5Fin')| # 1.5 Finished OR
     (train_df['HouseStyle']=='1.5Unf')) # 1.5 Unfinished
].index).tolist()), 'HouseStyle'] = '1Story'

# Code 120
train_df.loc[((train_df[ # select
    (train_df['MSSubClass']==120)& # code 120 AND
    (train_df['HouseStyle']=='SFoyer') # split foyer
].index).tolist()), 'HouseStyle'] = '1Story'

In [12]:
print('Check: \nCode 20\n',train_df[train_df['MSSubClass']==20]['HouseStyle'].value_counts(),'\n')
print('Code 30\n',train_df[train_df['MSSubClass']==30]['HouseStyle'].value_counts(),'\n')
print('Code 120\n',train_df[train_df['MSSubClass']==120]['HouseStyle'].value_counts())

Check:
Code 20
 HouseStyle
1Story    536
Name: count, dtype: int64

Code 30
 HouseStyle
1Story    69
Name: count, dtype: int64

Code 120
 HouseStyle
1Story    87
Name: count, dtype: int64

In [13]:
# setting 1.5Fin story, Code 50
train_df.loc[((train_df[ # select
    (train_df['MSSubClass']==50)& # code 50 AND
    (train_df['HouseStyle']=='2Story') # 2 story
].index).tolist()), 'HouseStyle'] = '1.5Fin'

In [14]:
print('Check: \nCode 50\n',train_df[train_df['MSSubClass']==50]['HouseStyle'].value_counts())

Check:
Code 50
 HouseStyle
1.5Fin    144
Name: count, dtype: int64

In [15]:
# setting 2 stories
# Code 70
train_df.loc[((train_df[ # select
    (train_df['MSSubClass']==70)& # code 70 AND
    (train_df['HouseStyle']=='2.5Fin') # 2.5 finished
].index).tolist()), 'HouseStyle'] = '2Story'

In [16]:
print('Check: \nCode 70\n',train_df[train_df['MSSubClass']==70]['HouseStyle'].value_counts())

Check:
Code 70
 HouseStyle
2Story    60
Name: count, dtype: int64

For the 2.5 story code, 75, there is no way to tell if they are meant to be finished or unfinished. As they only have one code, and there are not very many of them, even when the test data is included, I am going to code them all as simply `2.5Story`.

In [17]:
# setting 2.5 stories, code 75
train_df.loc[((train_df[train_df['MSSubClass']==75].index).tolist()), 'HouseStyle'] = '2.5Story'

In [18]:
print('Check: \nCode 75\n',train_df[train_df['MSSubClass']==75]['HouseStyle'].value_counts())

Check:
Code 75
 HouseStyle
2.5Story    16
Name: count, dtype: int64

In the test set

In [19]:
# setting 1 story
# Code 30
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==30)& # code 30 AND
    (test_df['HouseStyle']=='1.5Fin') # 1.5 finished
].index).tolist()), 'HouseStyle'] = '1Story'

# Code 40
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==40)& # code 40 AND
    (test_df['HouseStyle']=='1.5Fin') # 1.5 finished
].index).tolist()), 'HouseStyle'] = '1Story'

# Code 120
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==120)& # code 120 AND
    (test_df['HouseStyle']=='SFoyer') # split foyer
].index).tolist()), 'HouseStyle'] = '1Story'

In [20]:
print('Check: \nCode 30\n',test_df[test_df['MSSubClass']==30]['HouseStyle'].value_counts(),'\n')
print('Code 40\n',test_df[test_df['MSSubClass']==40]['HouseStyle'].value_counts(),'\n')
print('Code 120\n',test_df[test_df['MSSubClass']==120]['HouseStyle'].value_counts())

Check:
Code 30
 HouseStyle
1Story    70
Name: count, dtype: int64

Code 40
 HouseStyle
1Story    2
Name: count, dtype: int64

Code 120
 HouseStyle
1Story    95
Name: count, dtype: int64

In [21]:
# setting 1.5Unf, Code 45
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==45)& # code 45 AND
    (test_df['HouseStyle']=='1.5Fin') # 1.5 finished
].index).tolist()), 'HouseStyle'] = '1.5Unf'

# setting 1.5Fin story, Code 50
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==50)& # code 50 AND either
    ((test_df['HouseStyle']=='1.5Unf')| # 1.5 Unfinished OR
    (test_df['HouseStyle']=='2Story')) # 2 story
].index).tolist()), 'HouseStyle'] = '1.5Fin'

In [22]:
print('Test \nCode 45\n',test_df[test_df['MSSubClass']==45]['HouseStyle'].value_counts(),'\n')
print('Code 50\n',test_df[test_df['MSSubClass']==50]['HouseStyle'].value_counts())

Test
Code 45
 HouseStyle
1.5Unf    6
Name: count, dtype: int64

Code 50
 HouseStyle
1.5Fin    143
Name: count, dtype: int64

In [23]:
# setting 2 stories
# Code 60
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==60)& # code 60 AND either
    ((test_df['HouseStyle']=='1.5Fin')| # 1.5 finished OR
    (test_df['HouseStyle']=='2.5Unf')) # 2.5 unfinished
].index).tolist()), 'HouseStyle'] = '2Story'

# Code 70
test_df.loc[((test_df[ # select
    (test_df['MSSubClass']==70)& # code 70 AND either
    ((test_df['HouseStyle']=='1.5Fin')| # 1.5 finished OR
    (test_df['HouseStyle']=='2.5Unf')) # 2.5 unfinished
].index).tolist()), 'HouseStyle'] = '2Story'

In [24]:
print('Test: \nCode 60\n',test_df[test_df['MSSubClass']==60]['HouseStyle'].value_counts(),'\n')
print('Code 70\n',test_df[test_df['MSSubClass']==70]['HouseStyle'].value_counts())

Test:
Code 60
 HouseStyle
2Story    276
Name: count, dtype: int64

Code 70
 HouseStyle
2Story    68
Name: count, dtype: int64

In [25]:
# setting 2.5 stories, code 75
test_df.loc[((test_df[test_df['MSSubClass']==75].index).tolist()), 'HouseStyle'] = '2.5Story'

In [26]:
print('Check: \nCode 75\n',test_df[test_df['MSSubClass']==75]['HouseStyle'].value_counts())

Check:
Code 75
 HouseStyle
2.5Story    7
Name: count, dtype: int64

### Filling NAs

'Alley', 'Electrical', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature'

In [27]:
train_df['LotFrontage'] = train_df['LotFrontage'].fillna(0)
test_df['LotFrontage'] = test_df['LotFrontage'].fillna(0)

I am assuming that if no masonry type was filled in, there isn't one, so I am giving those 'None', in accordance with the documentation.

In [28]:
train_df['MasVnrType'] = train_df['MasVnrType'].fillna('None')
test_df['MasVnrType'] = test_df['MasVnrType'].fillna('None')

In [29]:
test_df['MasVnrType'].isna().value_counts()

MasVnrType
False    1459
Name: count, dtype: int64

Per the documentation: "Home functionality (Assume typical unless deductions are warranted)"<br>
Therefore both empty values can be filled with `Typ`.

In [30]:
test_df['Functional'] = test_df['Functional'].fillna('Typ')

In [31]:
test_df.loc[756]['Functional']

'Typ'

In [32]:
print(test_df['SaleType'].isna().value_counts(),'\n')
print(test_df[test_df['SaleType'].isna()][['SaleType','SaleCondition','YearBuilt','YrSold']],'\n')
print(f'Train: {train_df[train_df['SaleCondition']=='Normal'][['SaleType','SaleCondition']].value_counts()} \n')
print(f'Test: {test_df[test_df['SaleCondition']=='Normal'][['SaleType','SaleCondition']].value_counts()}')

SaleType
False    1458
True        1
Name: count, dtype: int64

     SaleType SaleCondition  YearBuilt  YrSold
1029      NaN        Normal       1958    2007

Train: SaleType  SaleCondition
WD        Normal           1160
COD       Normal             19
ConLD     Normal              6
ConLw     Normal              5
ConLI     Normal              4
CWD       Normal              2
Con       Normal              2
Name: count, dtype: int64

Test: SaleType  SaleCondition
WD        Normal           1154
COD       Normal             20
ConLD     Normal             15
CWD       Normal              8
Con       Normal              2
ConLw     Normal              2
ConLI     Normal              1
Oth       Normal              1
Name: count, dtype: int64

I could delete this row, but if I want to keep it, it is probably safe to fill in the `SaleType` with 'WD', as for a `SaleCondition` of 'Normal', the vast majority of datapoints have have value. (96.8% for train, 95.9% for test.)

In [33]:
print(train_df['Electrical'].isna().value_counts(),'\n')
print(train_df[train_df['Electrical'].isna()][['Electrical','YearBuilt']],'\n')

Electrical
False    1459
True        1
Name: count, dtype: int64

     Electrical  YearBuilt
1379        NaN       2006

In [34]:
print(f'Train: {train_df['Electrical'].value_counts()},\n')
print(f'Test: {test_df['Electrical'].value_counts()} \n')
print(train_df[train_df['Electrical']=='SBrkr'][['Electrical','YearBuilt']].describe())

Train: Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64,

Test: Electrical
SBrkr    1337
FuseA      94
FuseF      23
FuseP       5
Name: count, dtype: int64

         YearBuilt
count  1334.000000
mean   1974.432534
std      29.124348
min    1872.000000
25%    1958.000000
50%    1977.000000
75%    2002.000000
max    2010.000000

Similarly, the vast majority of data (91.4% of train, 91.6% of test) has the 'SBrkr' value, and the descriptive stats show there is no meaningful connection between building age and electrical status to worry about, so again it is probably safe to use that value in the interest of keeping the row in.

Utilities: Type of utilities available
		
       AllPub	All public Utilities (E,G,W,& S)	
       NoSewr	Electricity, Gas, and Water (Septic Tank)
       NoSeWa	Electricity and Gas Only
       ELO	Electricity only

### Remove outliers<p>
Using thresholds from previous notebook.

In [35]:
train_df[train_df['LotFrontage']>250]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
934,935,20,RL,313.0,27650,Pave,NaN,IR2,HLS,AllPub,...,0,NaN,NaN,NaN,0,11,2008,WD,Normal,242000
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000

In [36]:
train_df[train_df['LotArea']>140000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
249,250,50,RL,0.0,159000,Pave,NaN,IR2,Low,AllPub,...,0,NaN,NaN,Shed,500,6,2007,WD,Normal,277000
313,314,20,RL,150.0,215245,Pave,NaN,IR3,Low,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,375000
335,336,190,RL,0.0,164660,Grvl,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,Shed,700,8,2008,WD,Normal,228950

In [37]:
train_df[train_df['BsmtFinSF1']>4000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000

In [38]:
train_df[train_df['BsmtFinSF2']>1300]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
322,323,60,RL,86.0,10380,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,8,2007,WD,Normal,301000

In [39]:
train_df[train_df['TotalBsmtSF']>5000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000

In [40]:
train_df[train_df['1stFlrSF']>4000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000

In [41]:
train_df[train_df['GrLivArea']>5000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1298,1299,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,160000

In [42]:
train_df[train_df['EnclosedPorch']>500]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
197,198,75,RL,174.0,25419,Pave,NaN,Reg,Lvl,AllPub,...,512,Ex,GdPrv,NaN,0,3,2006,WD,Abnorml,235000

In [43]:
train_df[train_df['MiscVal']>6000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
346,347,20,RL,0.0,12772,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,15500,4,2007,WD,Normal,151500
1230,1231,90,RL,0.0,18890,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,8300,8,2007,WD,Normal,190000

In [44]:
train_df[train_df['SalePrice']>700000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
691,692,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
1182,1183,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000